.main-content {
    background-color: rgb(43, 50, 54);
}

.drive-container {
    max-width: 50em;
}

.drive-container__not-found {
    font-size: 1.5em;
    font-weight: 300;
}

.drive-container__files {
    text-align: left;
}

.drive-container__filename {
    background-color: #32373d;
}

.drive-container__filename a {
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    color: rgb(206, 206, 206);
}

.drive-container__filename a:hover {
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    color: rgb(255, 255, 255);
}